<a id='1'></a><center> <h3 style="background-color:green; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = []

In [2]:
# print the value of a

print(a)

[]

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [5]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [6]:

for i in languages:
   
   print([i])

['R']
['Python']
['SAS']
['Scala']
[42]

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
temp = languages[1]

Print the value of temp and type(temp)

In [8]:
print([temp])
print(type(temp))

['Python']
<class 'str'>

Append the element 'Java' in the list

In [9]:

languages.append('Java')

In [10]:
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [11]:

languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [12]:
colors = ['Red', 'Blue', 'White']
print(colors)

['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [13]:

colors.append('Black')
print(colors)

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [14]:
colors.insert(1,'Orange')

Print the list

In [15]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [16]:
colors2 = ['Grey', 'Sky', 'Blue']
print(colors2)

['Grey', 'Sky', 'Blue']

Add the elements of colors2 to colors using extend function in the list

In [17]:
colors.extend(colors2)

Print len of colors and its elements

In [18]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky', 'Blue']

Sort the list and print it.

In [19]:

colors.sort()
print(colors)

['Black', 'Blue', 'Blue', 'Grey', 'Orange', 'Red', 'Sky', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [20]:
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [21]:

words = sent.split(" ")
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [22]:
words_lower = []
for i in sent.split():
    words_lower.append(i.lower())
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [23]:
if 'country' in words:
    print('Yes')
else:
    print('No')

No

Remove the element ‘the’ from the list and print the list.

In [24]:

words.remove('The')

In [25]:
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'World.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [26]:
x4 = words_lower[0:4]

In [27]:
# print x4

print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [28]:

x3 = "".join(x4)

In [29]:
x3

'coronaviruscausedlockdownsaround'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [30]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [31]:

print(stud_grades)

print(len(stud_grades))

['A', 'A', 'B', 'C', 'C', 'F']
6

Create a new variable, stud_grades_set = set(stud_grades)

In [32]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [33]:

print(stud_grades_set)

{'F', 'A', 'B', 'C'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [34]:

print(type(stud_grades))
print(stud_grades)
print('\n===================\n')
print(type(stud_grades_set))
print(stud_grades_set)

<class 'list'>
['A', 'A', 'B', 'C', 'C', 'F']

===================

<class 'set'>
{'F', 'A', 'B', 'C'}

Add a new element ‘G’ to stud_grades_set

In [35]:

stud_grades_set.add('G')

In [36]:
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [37]:
stud_grades_set.add('F')
print(stud_grades_set)

{'C', 'G', 'F', 'A', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [38]:

stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [39]:

print(stud_grades_set)
print(len(stud_grades_set))

{'C', 'G', 'A', 'B'}
4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [40]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [41]:

print(f'Colors are : {colors}')
print(f'Fruits are : {fruits}')

Colors are : ['red', 'blue', 'orange']
Fruits are : ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [42]:
colors_set = set(colors)
fruits_set = set(fruits)

Find the union of both the sets.

In [43]:
union = colors_set.union(fruits_set)
print(union)

{'grapes', 'blue', 'apples', 'orange', 'red'}

Find the intersection of both the sets

In [44]:
intersection = colors_set.intersection(fruits_set)

print(intersection)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [45]:

fruits_set.difference(colors_set)

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [46]:
temp = [18, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [47]:
for i in temp:
    print(i)

18
Virat
50.0

replace first element with 11 in temp

In [48]:
temp.insert(0,11)

In [49]:
temp

[11, 18, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [50]:
temp1 = tuple(temp)
temp1

(11, 18, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [51]:
for i in temp1:
    print(i)

11
18
Virat
50.0

replace first element with 17 in temp1

In [52]:
temp1.insert(0,17)

AttributeError: 'tuple' object has no attribute 'insert'

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [53]:
city = ("Bangalore", 28.9949521, 72)
city

('Bangalore', 28.9949521, 72)

Print first element of city

In [54]:
city[0]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [55]:
city2 = ('Chennai', 30.01, 74)
city2

('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [56]:
cities = city + city2

Print cities

In [57]:
print(cities)

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [58]:
print(type(cities[0]))

<class 'str'>

print the type of cities

In [59]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [60]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}
d

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

Print the value of d[0]

In [61]:
print(d[0])

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [62]:

d['actor'] = 'SRK'

Print the type of actor

In [63]:
print(type('actor'))

<class 'str'>

Store the value of d[‘list’] in new variable List.

Print the type of List.

In [64]:
List = d['list']
print(type(List))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [65]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}
d1

{'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Merge d1 into d.

In [66]:
d.update(d1)

print d

In [67]:
print(d)

{'actor': 'SRK', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [68]:
print(f'KEY : {d.keys()}')

KEY : dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [69]:
print(f'VALUE : {d.values()}')

VALUE : dict_values(['SRK', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [70]:

for key, value in d.items():
   print(f'{key} ---> {value}')

actor ---> SRK
animal ---> cat
earth ---> 2
list ---> [23, 32, 12]
singer ---> Kr$na
album ---> Still here
genre ---> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [71]:

sent

'Coronavirus Caused Lockdowns Around The World.'

In [72]:
char_count = {}

# Iterate over each character in the string
for char in sent:
    # If the character is already in the dictionary, increment its count
    if char in char_count:
        char_count[char] += 1
    # If the character is not in the dictionary, add it with a count of 1
    else:
        char_count[char] = 1

# Print the character counts
for char, count in char_count.items():
    print(f"{char} ----> {count}")

C ----> 2
o ----> 6
r ----> 4
n ----> 3
a ----> 2
v ----> 1
i ----> 1
u ----> 3
s ----> 3
  ----> 5
e ----> 2
d ----> 4
L ----> 1
c ----> 1
k ----> 1
w ----> 1
A ----> 1
T ----> 1
h ----> 1
W ----> 1
l ----> 1
. ----> 1